@import "~vue-material/dist/theme/engine"; // Import the theme engine

/**
 * The below sets the themes for the application. This can be accessed and 
 * modified inside a component by using `this.$material.theming.theme`. For
 * example, to switch to dark mode, the following can be used:
 * ```
 * this.$material.theming.theme = 'dark';
 * ```
 */
@include md-register-theme("default", (
  primary: #343A40, // The primary color of your application
  accent: #FC9867, // The accent or secondary color
));
@include md-register-theme("dark", (
  primary: #B1E6D0, // The primary color of your application
  accent: #FF6188, // The accent or secondary color
  theme: dark
));

/**
 * Anything in the application that needs to be colored manually based on the 
 * theme needs to happen here because of scoping rules with SCSS it looks like. 
 * The scoping rules with SCSS / SASS imports seem to be different than the
 * scoping rules of Vue.
 */
@include md-theme-component() {
  @if md-get-theme-mode() == 'dark' {
    text.label {
      @include md-theme-property(fill, text-primary);
    }
  } @else {
    text.label {
      @include md-theme-property(fill, text-primary, text-primary);
    }
  }
}

@import "~vue-material/dist/theme/all"; // Apply the theme